<!doctype html>
<title>{% block title %}{% endblock %} - Screen Sommelier</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div id="login_div">
  {% if not session['user_id'] %}
    <a href="{{ url_for('auth.landing_page') }}"><img src="{{ url_for('static', filename='images/logo.png')}}" id="logo"></a>
    {% block searchbar %}{% endblock %}
    <form method="post" id="login_form">
        <label for="username">Username</label>
        <input name="username" required>
        <br>
        <label for="password">Password</label>
        <input name="password" id="password" type="password" required>
        <br>
        <button type="submit" name="action" value="login">Login</button>
    </form>
  {% else %}
    <a href="{{ url_for('library.library_home') }}"><img src="{{ url_for('static', filename='images/logo.png')}}" id="logo"></a>
    <div id="corner_profile">
      <img id="corner_image" src="{{ url_for('static', filename='images/blank_profile.png') }}">
      <p id="corner_username">{{ session['username'] }}</p>
    </div>
  {% endif %}
</div>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
